body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
}

.task-card:hover {
  cursor: grab;
}

.modal-pop-up {
  position: fixed;
  top: 30%;
  left: 35%;
  height: 390px;
  width: 350px;
  border: 2px solid green;
  border-radius: 7px;
  z-index: 10;
  background-color: rgb(186, 186, 186);
  max-width: 80%;
  display: none;
}

.modal-header {
  padding: 10px 20px;
  display: flex;
  border-bottom: 2px solid black;
}

.modal-header .title {
  font-size: larger;
  font-weight: bolder;

}

.modal-header .x-button {
  cursor: pointer
  /* font-weight: bold;
  font-size: medium; */
}

/* uncomment */
/* .modal.active {
  position: fixed;
  top: 30%;
  left: 35%;
  height: 390px;
  width: 350px;
  border: 2px solid green;
  border-radius: 7px;
  z-index: 10;
  background-color: rgb(192, 184, 184);
  max-width: 80%;
  display: block;
} */

/* .modal .not-active {
  position: fixed;
  top: 30%;
  left: 35%;
  height: 390px;
  width: 350px;
  border: 2px solid green;
  border-radius: 7px;
  z-index: 10;
  background-color: rgb(192, 184, 184);
  max-width: 80%;
  display: none;
} */

.addTaskBtn {
  display: inline-block;
}

/* #overlay {
  pointer-events: none;
  background-color: rgba(red, green, blue, .5);
}

#overlay.active {
  pointer-events: all;
  opacity: 1;
} */


